<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-user" aria-hidden="true"></i> <span>Admin</span>
                    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/ui/search-twitter.html"><i class="fa fa-circle-o"></i>Search Twitter</a></li>
                    <li class="active"><a href="data-preparation.html"><i class="fa fa-circle-o"></i>Data Preparation</a></li>
                    <li><a href="preprocessing.html"><i class="fa fa-circle-o"></i>Preprocessing</a></li>
                    <li><a href="train-ml-model.html"><i class="fa fa-circle-o"></i>Train ML Algorithm</a></li>
                    <li><a href="hot-news-prediction.html"><i class="fa fa-circle-o"></i>Hot News Prediction</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Editor</span>
                    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="show-hot-news.html"><i class="fa fa-circle-o"></i>Show hot news</a></li>

                </ul>
            </li>



        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
